.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(32, 0, 114);
    height: 60px;
    color: white;
    padding: 0 20px;
}

.lacoste_logo {
    width: 60px;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

.header_input {
    width: 600px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }

.header_input:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

.header_input:hover {
  outline: 1px solid lightgrey;
}